body {
    font-family: sans-serif;
}

.roboto {font-family: 'Roboto', sans-serif;}
.bebas {font-family: 'Bebas Neue', cursive;}
.kanit {font-family: 'Kanit', sans-serif;}
.inter {font-family: 'Inter', sans-serif;}