{% extends 'base.html' %}

{% block head %}
<title> Hi, {{ user.username }}!</title>
{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-4">


            <div class="card">
                
                <div class="card-body">
                  <h1 class="kanit card-title" style="font-size: 5em">AGE</h1>
                    {% if user.step1 == "" %}
                    <p class="card-text inter text-muted">You have not specified your age.</p>
                    {% else %}
                    <p class="card-text  inter text-muted">Your last saved response was: {{ user.step1 }}</p>
                    {% endif %}
                  <a href="{{ url_for('step1')}}" class="btn btn-dark inter">proceed</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                  <h1 class="kanit card-title" style="font-size: 5em">PET</h1>
                    {% if user.step1 == "" %}
                    <p class="card-text  inter text-muted">You have not specified the name of your pet.</p>
                    {% else %}
                    <p class="card-text  inter text-muted">Your last saved response was: {{ user.step2 }}</p>
                    {% endif %}
                  <a href="{{ url_for('step2')}}" class="btn btn-dark inter">update</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                  <h1 class="kanit card-title" style="font-size: 5em">JOB</h1>
                    {% if user.step1 == "" %}
                    <p class="card-text  inter text-muted">You have not specified your dream job.</p>
                    {% else %}
                    <p class="card-text  inter text-muted">Your last saved response was: {{ user.step3 }}</p>
                    {% endif %}
                  <a href="{{ url_for('step3')}}" class="btn btn-dark inter">update</a>
                </div>
            </div>

        </div>   
        
    </div>
</div>

{% endblock %}